<h1>Registration Form</h1>
<p class="flash"><%= @flash %></p>
<form id="signup" action="/welcome/make_new_user" method="post">

  <input type="text" name="first_name" placeholder="First name" class="input pass"/>
  </br>
  <input type="type" name="last_name" placeholder="Last name" class="input pass"/>
  </br>
  <input type="type" name="street_address" placeholder="Address" class="input pass"/>
  </br>
  <input type="type" name="city" placeholder="city" class="input pass"/>
  </br>
  <input type="type" name="state" placeholder="state" class="input pass"/>
  </br>
  <input type="type" name="zip_code" placeholder="zip code" class="input pass"/>
  </br>
  <input type="type" name="country" placeholder="country" class="input pass"/>
  </br>
  <input type="type" name="phone1" placeholder="phone 1" class="input pass"/>
  </br>
  <input type="type" name="phone2" placeholder="phone 2" class="input pass"/>
  </br>
  <input type="type" name="phone3" placeholder="phone 3" class="input pass"/>
  </br>
  <input type="type" name="email" placeholder="email" class="input pass"/>
  </br>
  <input type="text" name="user_name" placeholder="user name" required class="input pass"/>
  </br>
  <input type="type" name="password" placeholder="password" required class="input pass"/>
  </br>
  <input type="submit" value="submit" class="inputButton"/>
</form>
