/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 $fonts: "Open Sans", Helvetica, sans-serif;

 @mixin border-radius($radius) {
     -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
     -ms-border-radius: $radius;
     border-radius: $radius;
 }

 @mixin box-shadow($top, $left, $blur, $color) {
     -webkit-box-shadow: $top $left $blur $color;
     -moz-box-shadow: $top $left $blur $color;
     box-shadow: $top $left $blur $color;
 }

 ::selection {
     background-color: #b5e2e7;
 }

 ::-moz-selection {
     background-color: #8ac7d8;
 }

 body {
     background: #58c791;
 }

 .container {
     display: -webkit-flex;
     display: flex;
     text-align: center;
     height: 100%;
 }

 #logbox {
     margin: 50px auto;
     width: 340px;
     background-color: #fff;
     @include border-radius(4px);
     @include box-shadow(0, 1px, 5px, rgba(0,0,0,0.25));
 }

 h1 {
     text-align: center;
     font-size: 175%;
     color: #757575;
     font-weight: 300;
 }

 h1, input {
     font-family: $fonts;
 }

 .input {
     width: 75%;
     height: 50px;
     display: block;
     margin: 0 auto 15px;
     padding: 0 15px;
     border: none;
     border-bottom: 2px solid #ebebeb;
     &:focus {
         outline: none;
         border-bottom-color: #58c791 !important;
     }
     &:hover {
         border-bottom-color: #dcdcdc;
     }
     &:invalid {
         box-shadow: none;
     }
 }

 .pass:-webkit-autofill {
     -webkit-box-shadow: 0 0 0 1000px white inset;
 }

 .inputButton {
     position: relative;
     width: 85%;
     height: 50px;
     display: block;
     margin: 30px auto 30px;
     @include border-radius(5px);
     color: white;
     background-color: #58c791;
     border: none;
     @include box-shadow(0, 5px, 0, #3aad73);
     &:hover {
         top: 2px;
         @include box-shadow(0, 3px, 0, #3aad73);
     }
     &:active {
         top: 5px;
         box-shadow: none;
     }
     &:focus {
         outline: none;
     }
 }
